<mat-card>
  <mat-card-header style="display: flex; justify-content: center;">
    <mat-card-title><h1>{{ directorDetails.Name }}</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content style="display: flex; justify-content: center; margin-bottom: 25px;">
    <p>{{ directorDetails.Bio }}</p>
  </mat-card-content>
  <mat-card-content style="display: flex; justify-content: start;">
    <p>Born: {{ directorDetails.Birth }}</p>
  </mat-card-content>
  <mat-card-content style="display: flex; justify-content: start; margin-bottom: 25px;">
    <p>Died: {{ directorDetails.Death }}</p>
  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: center;"> 
      <button
        mat-raised-button
        mat-dialog-close
        color="primary"
      >
        Close
      </button>
  </mat-card-actions>
</mat-card>