<div style="display: flex; justify-content: center;">
  <div style="width: 400px; display: flex; justify-content: center; align-items: center; margin-bottom: 25px; flex-direction: column;">
    <h1>Profile</h1>
    <form>
      <mat-form-field style="display: flex; justify-content: center; ">
        
        <input
          matInput
          [(ngModel)]="userData.Username"
          type="text"
          placeholder="Username"
          name="Username"
          required
        >
        </mat-form-field>
        <mat-form-field style="display: flex; justify-content: center;">
        <input
          matInput
          type = "password"
          placeholder="********"
          name="Password"
          required
        >
      </mat-form-field>
      <mat-form-field style="display: flex; justify-content: center; width: 300px;">
        <input
          matInput
          [(ngModel)]="userData.Email"
          type = "email"
          placeholder="Email"
          name="Email"
          required
        >
      </mat-form-field>
      <mat-form-field style="display: flex; justify-content: center;">
        <input
          matInput
          [(ngModel)]="userData.Birthdate"
          placeholder="YYY-MM-DD" 
          name="Birthdate"
        >
      </mat-form-field>
      <button
      mat-raised-button
      color="primary"
      (click)="openMovies()" 
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="updateUserDetails()" 
      >
        Save
      </button>
    </form>
  </div>
</div>